@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
body {
  padding: null;
  margin: 0;
  background-color: #FFFFFF;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

body a, body p, body button {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  text-decoration: none;
}

body a, body p {
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}

body ul, body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body input, body textarea {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  outline: none;
}

body button {
  white-space: nowrap;
}

.wraper header #additional_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid #EAEAEA;
  border-bottom-width: 1.5px;
}

.wraper header #additional_information .col-md-10 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 0;
}

.wraper header #additional_information .col-md-10 ul li:not(:last-child) {
  margin-right: 70px;
}

.wraper header #additional_information .col-md-10 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header #additional_information .col-md-10 ul li a {
  font-size: 12px;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-10 ul li a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-10 ul li a:hover, .wraper header #additional_information .col-md-10 ul li a:active {
  color: #848383af;
}

.wraper header #additional_information .col-md-10 ul li a:hover img, .wraper header #additional_information .col-md-10 ul li a:active img {
  opacity: 0.8;
}

.wraper header .nav .col-md-3:nth-child(1) a img {
  width: 170px;
  height: 60px;
}

.wraper header .nav .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper header .nav .col-md-6 ul li:not(:last-child) {
  margin-right: 20px;
}

.wraper header .nav .col-md-6 ul a {
  position: relative;
  font-size: 16px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-6 ul a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F5C331;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-6 ul a:hover:after,
.wraper header .nav .col-md-6 ul a:focus:after {
  width: 100%;
}

.wraper header .nav .col-md-3:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-3:nth-child(3) a button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 36px;
  background: #ffffff;
  -webkit-box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px #E7E7E7;
          box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px #E7E7E7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-3:nth-child(3) a button img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-3:nth-child(3) a button:hover, .wraper header .nav .col-md-3:nth-child(3) a button:active {
  -webkit-box-shadow: -3px -3px 7px #FFFFFF, 1.5px 1.5px 5px #d1d1d1;
          box-shadow: -3px -3px 7px #FFFFFF, 1.5px 1.5px 5px #d1d1d1;
}

.wraper header .nav .col-md-3:nth-child(3) a button:hover img, .wraper header .nav .col-md-3:nth-child(3) a button:hover p, .wraper header .nav .col-md-3:nth-child(3) a button:active img, .wraper header .nav .col-md-3:nth-child(3) a button:active p {
  opacity: 0.8;
}

.wraper header .nav .col-md-3:nth-child(3) a:not(:last-child) button {
  margin-right: 15px;
}

.wraper header .nav .col-md-3:nth-child(3) a:nth-child(2) button {
  width: 70px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-3:nth-child(3) a:nth-child(2) button .line {
  width: 1px;
  height: 18px;
  background-color: #A0A0A0;
}

.wraper header .nav .col-md-3:nth-child(3) a:nth-child(2) button p {
  font-size: 16px;
  color: #A0A0A0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #main_row {
  margin-top: 100px;
}

.wraper section #main_row .col-md-6 {
  height: 560px;
}

.wraper section #main_row .col-md-6:nth-child(1) {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content {
  width: 480px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content h1 {
  font-weight: bold;
  line-height: 177.19%;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content p {
  font-weight: 500;
  font-size: 16px;
  color: #848383;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content p b {
  color: #FFC009;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button {
  width: 164px;
  height: 46px;
  font-weight: bold;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(1) {
  margin-right: 35px;
  background: #F5C331;
  -webkit-box-shadow: 6px 10px 14px rgba(255, 221, 121, 0.44);
          box-shadow: 6px 10px 14px rgba(255, 221, 121, 0.44);
  border: none;
  border-radius: 15px;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(2) {
  background: #FFFFFF;
  border: 3px solid #F5C331;
  border-radius: 15px;
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(1):hover, .wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(1):active {
  background: #f5c431e7;
  -webkit-box-shadow: 6px 10px 12px rgba(255, 222, 121, 0.596);
          box-shadow: 6px 10px 12px rgba(255, 222, 121, 0.596);
}

.wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(2):hover, .wraper section #main_row .col-md-6:nth-child(1) .text_content .button_area button:nth-child(2):active {
  border: 3px solid #f5c431e7;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse {
  width: 575px;
  height: 550px;
  position: relative;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .front_warehouse_img {
  z-index: 500;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .beck_warehouse_img {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: -6;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap1, .wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap2, .wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap3 {
  z-index: -4;
  position: absolute;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap1 {
  bottom: 50px;
  left: 5px;
  -webkit-animation: tap1_go  7s linear infinite alternate;
          animation: tap1_go  7s linear infinite alternate;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap2 {
  right: 0px;
  bottom: 50px;
  -webkit-animation: tap2_go  7s linear infinite alternate;
          animation: tap2_go  7s linear infinite alternate;
}

.wraper section #main_row .col-md-6:nth-child(2) .warehouse .tap3 {
  z-index: 505;
  right: 100px;
  top: 39px;
  -webkit-animation: tap3_go  10s linear infinite alternate;
          animation: tap3_go  10s linear infinite alternate;
}

.wraper section #assortment_container {
  margin-top: 100px;
  background-color: #FAFAFA;
}

.wraper section #assortment_container .row {
  max-width: 1320px;
  margin: 0 auto;
}

.wraper section #assortment_container .col-md-12:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 36px;
  color: #333333;
}

.wraper section #assortment_container #search_by_brand_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper section #assortment_container #search_by_brand_col .body_serch {
  margin: 70px 0;
  width: 370px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 3px solid #F5C536;
  border-radius: 50px;
}

.wraper section #assortment_container #search_by_brand_col .body_serch input {
  margin-left: 25px;
  border: none;
  color: #848383;
}

.wraper section #assortment_container #search_by_brand_col .body_serch a {
  margin-right: 25px;
}

.wraper section #assortment_container #search_by_brand_col .body_serch a img {
  width: 28;
  height: 28;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #assortment_container #search_by_brand_col .body_serch a img:hover, .wraper section #assortment_container #search_by_brand_col .body_serch a img:after {
  opacity: 0.8;
}

.wraper section #assortment_container #choise_brends_row .col-md-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 70px;
}

.wraper section #assortment_container #choise_brends_row .col-md-12 .brend_body .brend_card {
  width: 200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-shadow: 6px 8px 18px #E9E9E9;
          box-shadow: 6px 8px 18px #E9E9E9;
  border-radius: 20px;
}

.wraper section #assortment_container #choise_brends_row .col-md-12 .brend_body .brend_group {
  margin-top: 70px;
  width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wraper section #assortment_container #choise_brends_row .col-md-12 .brend_body .brend_group div {
  margin-right: 30px;
  min-width: 200px;
  height: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: red;
  -ms-grid-row: 2;
      grid-row-start: 2;
}
/*# sourceMappingURL=style.css.map */