@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
body {
  padding: null;
  margin: 0;
  background-color: #FFFFFF;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

body a, body p, body button {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  text-decoration: none;
}

body a, body p {
  margin: 0;
  padding: 0;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
}

body ul, body li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body input, body textarea {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  outline: none;
}

body button {
  white-space: nowrap;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.lock {
  overflow: hidden;
}

.wraper header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding-bottom: 5px;
}

.wraper header .preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffff;
  z-index: 1100;
  -webkit-animation: displayNone 3s;
          animation: displayNone 3s;
}

.wraper header .preloader .preloader_body {
  width: 270px;
  height: 115px;
  position: relative;
}

.wraper header .preloader .preloader_body img {
  position: absolute;
}

.wraper header .preloader .preloader_body img:nth-child(2) {
  left: 190px;
  top: -150px;
  -webkit-animation: dropOil 2s;
          animation: dropOil 2s;
}

@-webkit-keyframes dropOil {
  0% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

@keyframes dropOil {
  0% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}

.wraper header #additional_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid #EAEAEA;
  border-bottom-width: 1.5px;
}

.wraper header #additional_information .col-md-12:nth-child(1) {
  margin: 5px 0;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 0;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li:not(:last-child) {
  margin-right: 70px;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li a, .wraper header #additional_information .col-md-12:nth-child(1) ul li p {
  font-size: 12px;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li a img, .wraper header #additional_information .col-md-12:nth-child(1) ul li p img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li a:hover, .wraper header #additional_information .col-md-12:nth-child(1) ul li a:active {
  color: #848383af;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li a:hover img, .wraper header #additional_information .col-md-12:nth-child(1) ul li a:active img {
  opacity: 0.8;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch {
  width: 200px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 2px solid #F5C536;
  border-radius: 40px;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch input {
  font-size: 14px;
  width: 130px;
  margin-left: 10px;
  border: none;
  color: #848383;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch a {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch a img {
  width: 16px;
  height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch a img:hover, .wraper header #additional_information .col-md-12:nth-child(1) ul li .body_serch a img:after {
  opacity: 0.8;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu img {
  margin-top: 2px;
  width: 6px;
  height: 10px;
  margin-left: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu img.active {
  width: 10px;
  height: 20px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu a.active {
  font-size: 16px;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden {
  display: none;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 0%;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active ul {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active ul li a {
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active ul li a:hover, .wraper header #additional_information .col-md-12:nth-child(1) ul .phone_menu .phone_menu_hiden.active ul li a:active {
  color: #333333;
}

.wraper header #additional_information .col-md-12:nth-child(1) ul.unactive li {
  display: none;
  margin: 0;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information {
  display: none;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul li {
  margin-bottom: 15px;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul li a, .wraper header #additional_information .col-md-12:nth-child(2) .information ul li p {
  font-size: 16px;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul li a img, .wraper header #additional_information .col-md-12:nth-child(2) .information ul li p img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul li a:hover, .wraper header #additional_information .col-md-12:nth-child(2) .information ul li a:active {
  color: #848383af;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul li a:hover img, .wraper header #additional_information .col-md-12:nth-child(2) .information ul li a:active img {
  opacity: 0.8;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu img {
  width: 14px;
  height: 10px;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu img.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden {
  display: none;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden li a {
  text-decoration: none;
  white-space: nowrap;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden li a:hover, .wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden li a:active {
  color: #333333;
}

.wraper header #additional_information .col-md-12:nth-child(2) .information ul .undermenu .menu_hiden li:not(:last-child) {
  margin: 0 0 15px;
}

.wraper header #additional_information .col-md-12:nth-child(2) .tail {
  margin: 20px 0 10px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper header #additional_information .col-md-12:nth-child(2) .tail img {
  width: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header #additional_information .col-md-12:nth-child(2) .tail.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.wraper header .nav {
  top: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
  max-width: 1300px;
}

.wraper header .nav #burger_menu_col {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav #burger_menu_col .burger_button {
  width: 34px;
  height: 34px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.wraper header .nav #burger_menu_col .burger_button span {
  width: 100%;
  height: 3.0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
  background-color: #F5C331;
}

.wraper header .nav #burger_menu_col .burger_button span:nth-of-type(2) {
  top: calc(50% - 7px);
}

.wraper header .nav #burger_menu_col .burger_button span:nth-of-type(3) {
  top: calc(50% + 7px);
}

.wraper header .nav #burger_menu_col .burger_button.active span:first-of-type {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.wraper header .nav #burger_menu_col .burger_button.active span:nth-of-type(2) {
  top: 50%;
  background-color: #F5C331;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.wraper header .nav #burger_menu_col .burger_button.active span:nth-of-type(3) {
  top: 50%;
  background-color: #F5C331;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.wraper header .nav .col-md-3:nth-child(2) a img:nth-child(1) {
  width: 170px;
  height: 60px;
}

.wraper header .nav .col-md-3:nth-child(2) a img:nth-child(2) {
  display: none;
  width: 80px;
}

.wraper header .nav .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-6 .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper header .nav .col-md-6 .menu_list li:not(:last-child) {
  margin-right: 20px;
  white-space: nowrap;
}

.wraper header .nav .col-md-6 .menu_list a {
  position: relative;
  font-size: 16px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-6 .menu_list a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #F5C331;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-6 .menu_list a:hover:after,
.wraper header .nav .col-md-6 .menu_list a:focus:after {
  width: 100%;
}

.wraper header .nav .col-md-6 .menu_list .open_catalog:after {
  content: none;
}

.wraper header .nav .col-md-6 .menu_list .open_catalog:hover, .wraper header .nav .col-md-6 .menu_list .open_catalog:active {
  color: #F5C331;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body {
  z-index: 1005;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 6, 26, 0.6);
  position: fixed;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog {
  width: 900px;
  min-height: 540px;
  position: relative;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: #ffff;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog a:after {
  content: none;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog ul::-webkit-scrollbar {
  width: 3px;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog ul::-webkit-scrollbar-thumb {
  background-color: #F5C331;
  border-radius: 5px;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop {
  margin: auto 0;
  width: 260px;
  height: 460px;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li {
  white-space: normal;
  padding: 6px;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 10px 15px 0;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li a {
  width: 100%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li a img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li a img.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden {
  top: 40px;
  display: none;
  margin-left: 50px;
  left: 260px;
  width: 260px;
  height: 460px;
  position: absolute;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden .live_search {
  margin-bottom: 20px;
  padding: 0 5px;
  width: 90%;
  height: 30px;
  border: 2px solid #F5C536;
  border-radius: 30px;
  font-size: 14px;
  color: #333333;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden ul {
  max-height: 400px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden ul li {
  white-space: normal;
  margin-right: 0;
  margin-bottom: 15px;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden ul li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 16px;
  color: #848383;
  cursor: pointer;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li .menu_hiden ul li a:hover {
  color: #333333;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .menu_list_desktop .undermenu_item_li:hover {
  background: #FFF3CD;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .baner {
  background-image: url(/Auto_parts_store/img/main/header/baner.png);
  background-size: cover;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 10px;
  width: 276px;
  height: 100%;
  right: 0;
  color: #333333;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .baner h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .baner p {
  margin-bottom: 20px;
  font-size: 14px;
  width: 220px;
  height: 90px;
}

.wraper header .nav .col-md-6 .menu_list #modal_window_catalog_body .modal_window_catalog .baner button {
  margin-bottom: 30px;
  height: 45px;
  background-color: #ffff;
  border: 2px solid #F5C331;
  border-radius: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.wraper header .nav .col-md-6 .menu_list .undermenu {
  position: relative;
  white-space: nowrap;
}

.wraper header .nav .col-md-6 .menu_list .undermenu img {
  width: 10px;
  height: 6px;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wraper header .nav .col-md-6 .menu_list .undermenu img.active {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.wraper header .nav .col-md-6 .menu_list .undermenu a:after {
  content: none;
}

.wraper header .nav .col-md-6 .menu_list .undermenu a:hover, .wraper header .nav .col-md-6 .menu_list .undermenu a:active {
  color: #F5C331;
}

.wraper header .nav .col-md-6 .menu_list .undermenu .menu_hiden {
  display: none;
  position: absolute;
  margin-top: 10px;
  border-top: 2px solid #F5C331;
  border-radius: 0 0 16px 16px;
  background-color: #ffff;
}

.wraper header .nav .col-md-6 .menu_list .undermenu .menu_hiden li {
  margin: 0;
}

.wraper header .nav .col-md-6 .menu_list .undermenu .menu_hiden li a {
  text-decoration: none;
  white-space: nowrap;
  color: #848383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-6 .menu_list .undermenu .menu_hiden li a:hover, .wraper header .nav .col-md-6 .menu_list .undermenu .menu_hiden li a:active {
  color: #333333;
}

.wraper header .nav .col-md-3:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-3:nth-child(4) a button {
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 36px;
  background: #ffffff;
  -webkit-box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px #E7E7E7;
          box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px #E7E7E7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
}

.wraper header .nav .col-md-3:nth-child(4) a button img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav .col-md-3:nth-child(4) a button:hover, .wraper header .nav .col-md-3:nth-child(4) a button:active {
  -webkit-box-shadow: -3px -3px 7px #FFFFFF, 1.5px 1.5px 5px #d1d1d1;
          box-shadow: -3px -3px 7px #FFFFFF, 1.5px 1.5px 5px #d1d1d1;
}

.wraper header .nav .col-md-3:nth-child(4) a button:hover img, .wraper header .nav .col-md-3:nth-child(4) a button:hover p, .wraper header .nav .col-md-3:nth-child(4) a button:active img, .wraper header .nav .col-md-3:nth-child(4) a button:active p {
  opacity: 0.8;
}

.wraper header .nav .col-md-3:nth-child(4) a:not(:last-child) button {
  margin-right: 15px;
}

.wraper header .nav .col-md-3:nth-child(4) a:nth-child(2) button {
  width: 70px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav .col-md-3:nth-child(4) a:nth-child(2) button .line {
  margin: 0 10px;
  width: 1px;
  height: 18px;
  background-color: #A0A0A0;
}

.wraper header .nav .col-md-3:nth-child(4) a:nth-child(2) button p {
  font-size: 16px;
  color: #A0A0A0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav #serch_mobileV_articul {
  margin-top: 50px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper header .nav #serch_mobileV_articul .body_serch {
  width: 350px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 2px solid #F5C536;
  border-radius: 40px;
}

.wraper header .nav #serch_mobileV_articul .body_serch input {
  font-size: 16px;
  width: 150px;
  margin-left: 10px;
  border: none;
  color: #848383;
}

.wraper header .nav #serch_mobileV_articul .body_serch a {
  margin-right: 10px;
}

.wraper header .nav #serch_mobileV_articul .body_serch a img {
  width: 22px;
  height: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav #serch_mobileV_articul .body_serch a img:hover, .wraper header .nav #serch_mobileV_articul .body_serch a img:after {
  opacity: 0.8;
}

.wraper header .nav #burger_menu {
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  padding: 15px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
}

.wraper header .nav #burger_menu .exit_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.wraper header .nav #burger_menu .exit_row img:nth-child(1) {
  width: 100px;
}

.wraper header .nav #burger_menu .exit_row img:nth-child(2) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 20px;
}

.wraper header .nav #burger_menu .exit_row img:nth-child(2):hover, .wraper header .nav #burger_menu .exit_row img:nth-child(2):active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.wraper header .nav #burger_menu .body_serch {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 2px solid #F5C536;
  border-radius: 50px;
}

.wraper header .nav #burger_menu .body_serch input {
  font-size: 16px;
  width: 160px;
  margin-left: 10px;
  border: none;
  color: #848383;
}

.wraper header .nav #burger_menu .body_serch button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  border: none;
  background-color: #fff;
  padding: 0;
}

.wraper header .nav #burger_menu .body_serch button img {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav #burger_menu .body_serch button img:hover, .wraper header .nav #burger_menu .body_serch button img:after {
  opacity: 0.8;
}

.wraper header .nav #burger_menu .menu_list {
  height: calc(100% - 56px);
  overflow-y: auto;
  display: block;
}

.wraper header .nav #burger_menu .menu_list li {
  width: 100%;
}

.wraper header .nav #burger_menu .menu_list li:not(:last-child) {
  margin-bottom: 20px;
}

.wraper header .nav #burger_menu .menu_list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 20px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav #burger_menu .menu_list a:hover, .wraper header .nav #burger_menu .menu_list a:active {
  color: #F5C331;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v img.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 10px;
  background-color: #ffffff;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden .exit_and_back_row {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden .exit_and_back_row p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #333333;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden .exit_and_back_row p img {
  margin-right: 14px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden .exit_and_back_row .img_exit {
  width: 20px;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden input::-moz-placeholder {
  color: #C4C4C4;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden input::-webkit-input-placeholder {
  color: #C4C4C4;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden .live_search {
  margin-bottom: 20px;
  padding: 0 5px;
  width: 100%;
  height: 40px;
  border: 2.5px solid #F5C536;
  border-radius: 30px;
  font-size: 14px;
  color: #333333;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden ul {
  position: relative;
  height: calc(100% - 56px);
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden ul li a:hover, .wraper header .nav #burger_menu .menu_list .undermenu_mobile_v .menu_hiden ul li a:active {
  color: #333333;
}

.wraper section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wraper section #filter_product_row {
  max-width: 1300px;
  margin: 0 auto;
}

.wraper section .title {
  margin-top: 100px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper section .title h1 {
  color: #333333;
  font-size: 36px;
}

.wraper section #filter_col .mobile_filter_button {
  margin-bottom: 70px;
  width: 335px;
  height: 50px;
  display: none;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 6px 6px 24px 1px rgba(134, 134, 134, 0.25);
          box-shadow: 6px 6px 24px 1px rgba(134, 134, 134, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.wraper section #filter_col .mobile_filter_button p {
  font-size: 16px;
  color: #333333;
}

.wraper section #filter_col .mobile_filter_button img {
  width: 27px;
  height: 27px;
}

.wraper section #filter_col .body_filter {
  top: 180px;
  z-index: 0;
  position: -webkit-sticky;
  position: sticky;
  width: 280px;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
  -webkit-box-shadow: 6px 6px 35px 1px rgba(134, 134, 134, 0.39);
          box-shadow: 6px 6px 35px 1px rgba(134, 134, 134, 0.39);
  border-radius: 10px;
}

.wraper section #filter_col .body_filter input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wraper section #filter_col .body_filter .exit_filter_mobile {
  height: 40px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wraper section #filter_col .body_filter .exit_filter_mobile img {
  width: 20px;
}

.wraper section #filter_col .body_filter .option_body {
  margin-top: 10px;
}

.wraper section #filter_col .body_filter .option_body button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  background-color: #ffffff;
  padding: 0;
}

.wraper section #filter_col .body_filter .option_body button .nameOption_countitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wraper section #filter_col .body_filter .option_body button .nameOption_countitems p {
  font-size: 14px;
}

.wraper section #filter_col .body_filter .option_body button .nameOption_countitems p:nth-child(1) {
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #filter_col .body_filter .option_body button .nameOption_countitems p:nth-child(2) {
  margin-left: 8px;
  color: #a1a1a1;
}

.wraper section #filter_col .body_filter .option_body button img {
  width: 12px;
  height: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #filter_col .body_filter .option_body button img.active {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.wraper section #filter_col .body_filter .option_body button:hover .nameOption_countitems p:nth-child(1), .wraper section #filter_col .body_filter .option_body button:active .nameOption_countitems p:nth-child(1) {
  color: #F5C331;
}

.wraper section #filter_col .body_filter .option_body .drop_menu {
  display: none;
  margin: 10px 0 0 0;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .live_search_filter::-moz-placeholder {
  color: #C4C4C4;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .live_search_filter::-webkit-input-placeholder {
  color: #C4C4C4;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .live_search_filter {
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  color: #333333;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul {
  margin-top: 8px;
  max-height: 100px;
  overflow-y: scroll;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul li {
  margin-top: 8px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul li input {
  margin-right: 10px;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul li p {
  font-size: 14px;
  color: #333333;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul li:hover, .wraper section #filter_col .body_filter .option_body .drop_menu .option_ul li:active {
  background-color: #fff3cdda;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul::-webkit-scrollbar {
  width: 5px;
}

.wraper section #filter_col .body_filter .option_body .drop_menu .option_ul::-webkit-scrollbar-thumb {
  background-color: #F5C331;
  border-radius: 5px;
}

.wraper section #filter_col .body_filter #price_option {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.wraper section #filter_col .body_filter #price_option input::-webkit-outer-spin-button,
.wraper section #filter_col .body_filter #price_option input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wraper section #filter_col .body_filter #price_option input[type=number] {
  -moz-appearance: textfield;
}

.wraper section #filter_col .body_filter #price_option .filters_prise_input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper section #filter_col .body_filter #price_option .filters_prise_input label {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  padding: 3px;
}

.wraper section #filter_col .body_filter #price_option .filters_prise_input label input {
  width: 60px;
  height: 32px;
  font-size: 14px;
  border: none;
  color: #333333;
}

.wraper section #filter_col .body_filter #price_option .filters_prise_input label span {
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  color: #C4C4C4;
}

.wraper section #filter_col .body_filter #price_option .prise_slider_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper section #filter_col .body_filter #price_option .prise_slider_col .noUi-target {
  width: 90%;
  height: 3px;
  margin: 20px 0;
  background-color: #C4C4C4;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wraper section #filter_col .body_filter #price_option .prise_slider_col .noUi-connect {
  background-color: #F5C331;
}

.wraper section #filter_col .body_filter #price_option .prise_slider_col .noUi-handle:after,
.wraper section #filter_col .body_filter #price_option .prise_slider_col .noUi-handle:before {
  display: none;
}

.wraper section #filter_col .body_filter #price_option .prise_slider_col .noUi-handle {
  top: -15px;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: url(/Auto_parts_store/img/product_page/section/gear.svg);
  background-position: center;
}

.wraper section #filter_col .body_filter .button_create_reset {
  width: 100%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper section #filter_col .body_filter .button_create_reset button {
  width: 115px;
  height: 50px;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #filter_col .body_filter .button_create_reset button:nth-child(1) {
  border: none;
  background: #F5C331;
  border-radius: 30px;
}

.wraper section #filter_col .body_filter .button_create_reset button:nth-child(2) {
  border: 2px solid #F5C331;
  background-color: #ffffff;
  border-radius: 30px;
}

.wraper section #products_col #cell_col {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  -ms-grid-columns: (minmax(253px, 260px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(253px, 260px));
  grid-gap: 15px;
}

.wraper section #products_col #cell_col .product {
  width: 260px;
  height: 315px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 6px 6px 24px 1px rgba(134, 134, 134, 0.25);
          box-shadow: 6px 6px 24px 1px rgba(134, 134, 134, 0.25);
  border-radius: 10px;
}

.wraper section #products_col #cell_col .product .title_img_product {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wraper section #products_col #cell_col .product .title_img_product .img_product {
  width: 120px;
  height: 105px;
}

.wraper section #products_col #cell_col .product .title_img_product .title_product {
  margin-top: 20px;
  width: 100%;
  height: 55px;
  color: #333333;
}

.wraper section #products_col #cell_col .product .rating_star {
  margin-top: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wraper section #products_col #cell_col .product .rating_star .rating_value {
  position: absolute;
  z-index: -2;
  visibility: hidden;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body {
  z-index: -2;
  font-size: 18px;
  position: relative;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body .rating_active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body .rating_active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #F5C331;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body .rating_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body .rating_items .rating_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.wraper section #products_col #cell_col .product .rating_star .rating_body::before {
  display: block;
  content: "★★★★★";
  color: #E1E1E1;
}

.wraper section #products_col #cell_col .product .rating_star .count_reviews {
  margin-left: 4px;
  font-size: 12px;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .price_and_availability p:nth-child(1) {
  font-size: 20px;
  color: #333333;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .price_and_availability p:nth-child(2) {
  font-size: 12px;
  color: #333333;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .price_and_availability p:nth-child(2) img {
  margin-left: 5px;
  width: 10px;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .round {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #FFFFFF;
  padding: 0;
  border: 2px solid #F5C331;
  cursor: pointer;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .round img {
  width: 16px;
  height: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #products_col #cell_col .product .body_price_addInBasket .round:hover img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wraper section #products_col .pagination {
  margin-top: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wraper section #products_col .pagination .pagination_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wraper section #products_col .pagination .pagination_ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.wraper section #products_col .pagination .pagination_ul li img {
  height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #products_col .pagination .pagination_ul li img:hover, .wraper section #products_col .pagination .pagination_ul li img:active {
  opacity: 0.8;
}

.wraper section #products_col .pagination .pagination_ul li a {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #C4C4C4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper section #products_col .pagination .pagination_ul li a:hover, .wraper section #products_col .pagination .pagination_ul li a:active {
  color: #F5C331;
}

.wraper section #products_col .pagination .pagination_ul .prev_page img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.wraper footer #contact_row {
  margin-top: 160px;
}

.wraper footer #contact_row .col-md-2:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wraper footer #contact_row .col-md-2:nth-child(1) .logo {
  width: 105px;
  height: auto;
}

.wraper footer #contact_row .col-md-2:nth-child(1) .social_network {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wraper footer #contact_row .col-md-2:nth-child(1) .social_network a {
  margin-right: 20px;
}

.wraper footer #contact_row .col-md-2:nth-child(1) .social_network a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wraper footer #contact_row .col-md-2:nth-child(1) .social_network a img:hover, .wraper footer #contact_row .col-md-2:nth-child(1) .social_network a img:after {
  opacity: 0.8;
}

.wraper footer #contact_row .col-md-2:nth-child(2) {
  display: none;
}

.wraper footer #contact_row .col-md-2 h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #333333;
}

.wraper footer #contact_row .col-md-2 h3 img {
  width: 14px;
  height: 10px;
  display: none;
}

.wraper footer #contact_row .col-md-2 ul {
  margin-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wraper footer #contact_row .col-md-2 ul li {
  margin-left: 5px;
}

.wraper footer #contact_row .col-md-2 ul li a, .wraper footer #contact_row .col-md-2 ul li p {
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #848383;
}

.wraper footer #contact_row .col-md-2 ul li a:hover, .wraper footer #contact_row .col-md-2 ul li a:active {
  color: #333333;
}

.wraper footer #contact_row .col-md-2 ul li:not(:last-child) {
  margin-bottom: 10px;
}

.wraper footer #contact_row .col-md-4 {
  margin-top: 10px;
}

.wraper footer #contact_row .col-md-4 iframe {
  border-radius: 10px;
}

@media screen and (max-width: 982px) {
  .wraper #additional_information .col-md-12:nth-child(1) {
    display: none !important;
  }
  .wraper #additional_information .col-md-12:nth-child(2) .tail {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .wraper #additional_information .col-md-12.hiden {
    display: none !important;
  }
  .wraper .nav {
    margin: 0 auto;
  }
  .wraper .nav #burger_menu_col {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .wraper .nav .col-md-6 {
    display: none !important;
  }
  .wraper .nav .col-md-3:nth-child(2) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wraper .nav #serch_mobileV_articul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (max-width: 878px) {
  .wraper #filter_product_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wraper #filter_product_row #filter_col {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wraper #filter_product_row #filter_col .mobile_filter_button {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .wraper #filter_product_row #filter_col .body_filter {
    display: none;
    width: 340px;
    height: 100%;
    padding: 0 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #ffff;
  }
  .wraper #filter_product_row #filter_col .body_filter .exit_filter_mobile {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wraper #filter_product_row #filter_col .body_filter form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
    height: 100%;
  }
  .wraper #filter_product_row #filter_col .body_filter form .search_options {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body {
    border: 0px solid #EAEAEA;
    border-bottom-width: 1.5px;
    margin-top: 15px !important;
    padding-bottom: 6px !important;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .button_for_ul_drop_list {
    height: 40px;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .button_for_ul_drop_list .nameOption_countitems p {
    font-size: 16px !important;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .button_for_ul_drop_list img {
    width: 16px !important;
    height: 16px !important;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .drop_menu .live_search {
    font-size: 16px;
    height: 35px !important;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .drop_menu .option_ul_item input {
    width: 16px;
  }
  .wraper #filter_product_row #filter_col .body_filter form .option_body .drop_menu .option_ul_item p {
    font-size: 16px !important;
  }
  .wraper #filter_product_row #filter_col .body_filter form .button_create_reset {
    margin: 30px 0 !important;
  }
  .wraper #filter_product_row #products_col {
    width: 100%;
  }
  .wraper #filter_product_row #products_col #cell_col {
    grid-gap: 30px;
  }
  .wraper #filter_product_row #products_col .pagination_ul li {
    margin: 15px !important;
  }
}

@media screen and (max-width: 575px) {
  .wraper .nav .col-md-3:nth-child(2) a img:nth-child(1) {
    display: none !important;
  }
  .wraper .nav .col-md-3:nth-child(2) a img:nth-child(2) {
    display: block !important;
  }
  .wraper .nav .col-md-3:nth-child(4) a:nth-child(1) {
    display: none;
  }
  .wraper #article_search_row .body_serch {
    width: 345px !important;
    height: 44px;
  }
  .wraper #contact_row .col-md-2 {
    margin-bottom: 10px;
  }
  .wraper #contact_row .col-md-2 h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wraper #contact_row .col-md-2 h3 img {
    margin: 10px 0 0 10px;
    display: block !important;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .wraper #contact_row .col-md-2 h3 img.active {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .wraper #contact_row .col-md-2 ul {
    display: none;
    text-align: center !important;
  }
  .wraper #contact_row .col-md-2:nth-child(1) {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wraper #contact_row .col-md-2:nth-child(1) .logo {
    margin-bottom: 20px;
  }
  .wraper #contact_row .col-md-2:nth-child(1) .social_network {
    display: none !important;
  }
  .wraper #contact_row .col-md-2:nth-child(2) {
    display: block !important;
  }
}

@media screen and (max-width: 400px) {
  .wraper #filter_col .body_filter {
    width: 100% !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
}
/*# sourceMappingURL=style.css.map */