@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

body{
    margin: 0;
    background-color:#FFFFFF;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    

    a,p,button,b{
        font-family: 'Montserrat',sans-serif;
        font-weight: 500;
        text-decoration: none;
    }
    
    button,a{
        cursor:pointer;
    }
    
    h1,h2,h3,h4{
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
    }
    
    ul,li{
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    input,textarea {
        font-family: 'Montserrat',sans-serif;
        font-weight: 500;
        outline: none;
    }
    
    button{
       white-space: nowrap;
    }

}

body{
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;

    .body_container{
        position: relative;
        width: 675px;
        flex-direction: column;
        background-color:#ffff;

        .header{
            background-image: url(https://autooil.com.ua/img/mails/bacground_main.png);
            background-size: cover;
            width: 100%;
            min-height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-direction: column;
            color: #ffff;
            
            tr{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
            }

            .welcome_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .main_logo{
                    top:20px;
                    position: absolute;
                    width: 110px;
                }

                h1{
                    text-align: center;
                    font-size: 25px;
                    max-width: 370px;
                }
    
            }

            .button_email{
                display: flex;
                justify-content: center;
                align-items:center;
                width: 115px;
                height: 40px;
                margin: 30px 0 0 0;
                border: none;
                background: rgba(255, 255, 255, 0.42);
                border-radius: 40px;
                
                a{
                    font-size: 16px;
                    color:#333333;
                }
               
            }

        }

        .section{
            color:#333333;

            tr{
                display: flex;
                flex-direction: column;
                align-items:center;
                justify-content: center;
            }

            .title{
            
                h3{
                    text-align: center;
                    color:#333333;
                    font-size: 20px;
                }

            }

            .account_details{
                width: 80%;

                p{
                    color: #848383;
                    font-size: 20px;

                    b{
                        color:#333333;
                    }

                }

            }

            .warnings{
                margin-top: 20px;

                p{
                    font-weight: 300;
                    text-align: center;
                    color:#333333;
                    max-width: 359px;
                    font-size: 14px;
                }

            }

            .card_row{
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                td{
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    text-align: center;
                    justify-content: center;

                    img{
                        width: 80px;
                        height: 80px;
                    }

                    p{
                        color:#333333;
                        font-size: 16px;
                    }

                }

            }

        }

        .footer{
            display: flex;
            flex-direction: column;

            tr{
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                td{
                    padding: 0 14px;
                    width: 127px;

                    h3{
                        margin: 14px 0 14px 0;
                        color:#333333;
                    }

                    ul{

                        li{
                            margin-bottom: 10px;
                            p,a{
                                transition: 0.3s;
                                text-decoration: none;
                                margin: 0;
                                color:#848383;
                            }
                            
                            a:hover,a:active{
                                color:#333333;
                            }
                        }

                    }
                    

                }

                .social_network{
                    width: 105px;
                    display: flex;
                    flex-direction: column;

                    .short_logo{
                        width: 105px;
                        margin-bottom: 14px;
                    }

                    ul{
                        width: 105px;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        
                    }

                }

            }

        }

        .unsubscribe_tr{
            justify-content: center;
        }

    }

    @media screen and (max-width: 675px){

        .body_container{
            width: 100% !important;

            .section{

                .card_row{
                    flex-direction: column !important;

                    td:not(:last-child){
                        margin-bottom: 40px;
                    }

                }
                
            }


            .footer{
                padding: 0 14px;

                tr{
                    justify-content: center !important;
                    flex-direction: column !important;

                    .social_network{
                        margin: 0 auto;
                        margin-bottom: 30px;
                        display: flex;
                        align-items: center;
                        width: 200px !important;

                        ul{
                            width: 100% !important;

                            img{
                                height: 30px;
                            }

                        }

                    }
                }

            }

        }

    }

}